.l-Content {
  display: block;
  width: 100%;
  margin: 0 auto;
  padding-top: 30px;
  background: #fff;
  flex-flow: row nowrap;

  @include mq() {
    display: block;
    width: 100%;
    min-width: inherit;
    padding-top: 0;
  }
}
