.l-Footer {
  @extend %CommonSection;

  background: #3b9e77;
}

.l-Footer_Inner {
  @extend %CommonSection_Inner;

  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 76px 36px;
}

.l-Footer_LogoCol {
  width: 50%;
}

.l-Footer_CopyCol {
  width: 50%;
  text-align: right;
  color: #fff;
  font-size: 1.6rem;
}
