.l-Header {
  @extend %CommonSection;

  border-bottom: 4px solid #fb8c00;
}

.l-Header_Inner {
  @extend %CommonSection_Inner;

  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px 10px 12px;
}

.l-Header_Logo {
  flex: 0 0 auto;
  width: 170px;
}

.l-Header_Desc {
  margin-left: 30px;
  color: #fb8c00;
  font-size: 1.3rem;
  line-height: 1.2;
}

.l-Header_Desc_Strong {
  font-size: 1.8rem;
}

.l-Header_Nav {
  flex: 1 1 auto;
  display: block;
  margin-left: 40px;
}

.l-Header_NavList {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
}

.l-Header_NavItem {
  display: block;
  border-left: 1px solid #dadada;
  font-size: 1.6rem;
}

.l-Header_Link {
  display: block;
  padding: 12px 20px;
  width: 100%;
  height: 100%;
  text-align: left;
  color: #000;
  text-decoration: none;

  &.t-Small {
    font-size: 1.4rem;
  }
}
