:root {
  --black: #000000;
  --white: #ffffff;
  --body-default: #f8f8f8;
  --body-button: #3d5b97;
  --body-disabled: #aaaaaa;
  --body-group: #dddddd;
  --body-overlay: rgba(0, 0, 0, 0.3);
  --body-required: #e66059;
  --body-selected: #dddddd;
  --line-primary: #ed9b38;
  --line-default: #dddddd;
  --text-default: #444444;
  --text-disabled: #dddddd;
  --text-primary: var(--white);
}

* {
  box-sizing: border-box;
  color: var(--text-default);
}

body,
html {
  background: var(--body-default);
  height: 100%;
  margin: 0;
}
