@charset "UTF-8";
@import url('//fonts.googleapis.com/earlyaccess/notosansjp.css');

:root {
  --black: #000000;
  --white: #ffffff;
  --body-active: #ed9b38;
  --body-default: #f8f8f8;
  --body-button: #3d5b97;
  --body-disabled: #aaaaaa;
  --body-group: #dddddd;
  --body-overlay: rgba(0, 0, 0, 0.3);
  --body-required: #e66059;
  --body-selected: #dddddd;
  --body-tapped: #1d4480;
  --line-primary: #ed9b38;
  --line-default: #dddddd;
  --text-default: #444444;
  --text-disabled: #dddddd;
  --text-primary: var(--white);

  --body-width: 480px;
}

* {
  box-sizing: border-box;
  color: var(--text-default);
}

body,
html {
  background: var(--body-default);
  font-family: 'Hiragino Kaku Gothic Pro', 'ヒラギノ角ゴ Pro W3', 'メイリオ',
    Meiryo, sans-serif;
  height: 100%;
  margin: 0;
}

@keyframes fade-in {
  0% {
    opacity: 0.1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes move-up {
  0% {
    transform: translateY(100px);
  }
  100% {
    transform: translateX(0);
  }
}
