/** カラー */
$light-grey:#e6e6e6;
$medium-grey:#a8a8a8;

$background: #f9f9f9;

$light-yellow:#ffdb99;
$medium-yellow:#ffcc66;

$required:#f0566e;
$error:#f23a57;

$white: #fff;

$dark-blue:#002d80;

/** フォントサイズ */
$text-xxs:10px;
$text-xs: 12px;
$text-sm: 14px;
$text-base: 16px;
$text-lg: 16px;