section.p-KV
  .p-KV_Inner
    .p-KV_TtlArea
      h2.p-KV_Ttl
        img.p-KV_TtlImg.u-PC(src=`${$imgPath}kv.png`, alt="法人の電気料金を無料一括見積り 一番安い電力会社が見つかる！ お見積りを出した電力会社を比較し、その中から一番安い電力会社をお選びいただけます")
        img.p-KV_TtlImg.u-SP(src=`${$imgPath}/sp/kv.png`, alt="法人の電気料金を無料一括見積り 一番安い電力会社が見つかる！ お見積りを出した電力会社を比較し、その中から一番安い電力会社をお選びいただけます")

    .p-KV_FormArea
      include ../component/form/_form.pug
