section.p-Video#video
  .p-Video_Inner
    h2.c-Heading.t-ML
      | 動画でわかる
      br.u-SP
      | エネチェンジ
    .p-Video_Body
      iframe.p-Video_Player(width="700", height="390", src="https://www.youtube.com/embed/D_6yFff336c?rel=0", frameborder="0", gesture="media", allow="encrypted-media", allowfullscreen)
