@use "../../styles/index" as *;

.inputWrapper {
  display: grid;
  gap: 12px;

  .input {
    font-weight: bold;
    display: flex;
    gap: 8px;
    align-items: center;
    input {
      width: 100%;
      padding: 8px;
      border-radius: 2px;
      border: solid 4px $light-grey;
      &:focus {
        outline: 2px solid $light-yellow;
        outline-offset: -4px;
      }
    }
  }
  .attention {
    font-size: $text-xxs;
    text-align: right;
    color: $medium-grey;
  }
}