@use "../../styles/index" as *;

.label {
  font-size: $text-sm;
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 8px;
  align-items: center;
  font-weight: bold;
  .required {
    padding: 2px 4px;
    color: $white;
    font-size: $text-xxs;
    background-color: $required;
    letter-spacing: 2px;
  }
}