.c-Form_RowGroup
  .c-Form_Row.t-Error(v-if="!isValid")
    p.c-Form_Row_ErrorMsg
      | {{ errorMessage }}
  .c-Form_Row
    p.c-Form_NameCol.t-Small
      span.c-Form_Required 必須
      span(v-html="heading")
    .c-Form_InputCol
      select.c-Form_Select(name="name", v-model="selected")
        option(v-for="item in list" :value="item.value") {{ item.name }}
      i.c-Form_Arrow
