.p-Intro {
  @extend %CommonSection;
}

.p-Intro_Inner {
  @extend %CommonSection_Inner;

  padding: 36px 0 60px;

  @include mq() {
    padding-bottom: 80px;
  }
}

.p-Intro_Body {
  margin-top: 36px;

  @include mq() {
    margin-top: 18px;
  }
}
