<main>
  <section class="section has-background-grey-lighter">
    <div class="container">
      <h1 class="title">このアプリケーションについて</h1>
    </div>
  </section>

  <section>
    <div class="container">
      <div class="content">
        <p> test appです。以下の機能を持っています </p>
      </div>
      <ul>
        <li><a href="/house_users">家庭一覧の表示</a></li>
        <li><a href="/house_users/import">データインポート(家庭一覧)</a></li>
        <li><a href="/energy_histories/import">データインポート(発電状況)</a></li>
      </ul>
    </div>
  </section>

</main>
