footer.l-Footer
  .l-Footer_Inner
    .l-Footer_LogoCol
      img.l-Footer_Logo(src="エネチェンジBiz")
    p.l-Footer_CopyCol
      | Copyright &copy; ENECHANGE Ltd.
      br.u-SP
      | All Rights Reserved.
