footer.l-Footer
  .l-Footer_Inner
    p.l-Footer_LogoCol
      img.l-Footer_Logo.u-PC(src=`${$imgPath}footer_logo.png`, alt="エネチェンジBiz 法人向け電気代見直しサイトNo.1")
      img.l-Footer_Logo.u-SP(src=`${$imgPath}sp/footer_logo.png`, alt="エネチェンジBiz 法人向け電気代見直しサイトNo.1")
    p.l-Footer_CopyCol
      | Copyright &copy; ENECHANGE Ltd. 
      br.u-SP
      | All Rights Reserved.
