header.l-Header
  .l-Header_Inner
    h1.l-Header_Logo
      | エネチェンジBiz
    p.l-Header_Desc
      | 連携電力会社数、切り替え実績豊富
      br
      span 電気代見直しサイトNo.1
    ul.l-Header_Nav
      li.l-Header_NavItem
        a.l-Header_Link(href="#")
          | 電気代削減事例
        a.l-Header_Link(href="#")
          | エネチェンジBizとは
        a.l-Header_Link.t-Small(href="#")
          | 電気代削減
          br
          | コンサルタント紹介
