header.l-Header
  .l-Header_Inner
    h1.l-Header_Logo
      img.c-Consultants_Image.u-PC(src=`${$imgPath}header_logo.png`, alt="エネチェンジBiz 法人向け電気代見直しサイトNo.1")
      img.c-Consultants_Image.u-SP(src=`${$imgPath}sp/header_logo.png`, alt="エネチェンジBiz 法人向け電気代見直しサイトNo.1")
    p.l-Header_Desc
      | 連携電力会社数、切り替え実績豊富
      br
      span.l-Header_Desc_Strong 電気代見直しサイトNo.1
    nav.l-Header_Nav
      ul.l-Header_NavList
        li.l-Header_NavItem
          a.l-Header_Link(href="#")
            | 電気代削減事例
        li.l-Header_NavItem
          a.l-Header_Link(href="#")
            | エネチェンジBizとは
        li.l-Header_NavItem
          a.l-Header_Link.t-Small(href="#")
            | 電気代削減
            br
            | コンサルタント紹介
