body {
  margin: 0;
  color: #444;
  background: #f8f8f8;
  @media (prefers-color-scheme: dark) {
    color: #ccc;
    background: #282c34;
  }
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
