@use "./index" as *;

.container  {
  background-color: $background;
}
.header {
  padding: 20px;
  text-align: center;
  display: grid;
  gap: 12px;
  background-color: $background;
  h1 {
    font-size: 18px;
  }
  p {
    font-size: 14px;
  }
}