.c-Consultants_Item
  .c-Consultants_NameCol
    img(src="#{item.image}")
    br
    h3.c-Consultants_Name #{item.name}
  .c-Consultants_TxtCol
    p.c-Consultants_Lead #{item.lead}
    p.c-Consultants_Txt #{item.text}
