.section {
  padding: 28px 10px;
  background-color: #f8f8f8;
  text-align: center;
}

.title {
  font-size: 22px;
  font-weight: bold;
  line-height: 1.25;
}

.lead {
  margin-top: 16px;
  font-size: 14px;
}
