.heading {
  position: relative;
  margin-bottom: 28px;
  padding: 8px 0;
  font-size: 20px;
  font-weight: bold;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: -20px;
    width: 5px;
    background-color: #ed9b38;
  }
}
