.label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
}

.required {
  display: inline-block;
  margin-right: 4px;
  padding: 2px 8px;
  background-color: #e66059;
  color: #fff;
  font-size: 10px;
  text-indent: 2px;
  letter-spacing: 2px;
  vertical-align: 2px;
}
